$primary: #0064C3;

// Bulma
@import "~bulma/bulma.sass";
@import "~@fortawesome/fontawesome-free/css/all.css";

.navbar-item.is-mega {
    position: static;
    .is-mega-menu-title {
        margin-bottom: 0;
        padding: .375rem 1rem;
    }
}

.product-name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

@media screen and (max-width: $desktop) {
    #catigories {
        display: none;
    }
}